body {
  background-color: #282c34;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.listCompinput{
  margin-top: 20px;
  width: 300px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
}
.updateInput{
  width: 150px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
}
.btn{
  height: 40px;
  width: 100px;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 10px;
  cursor: pointer;
}
.delBtn{
  background-color: transparent;
  color: rgb(143, 7, 7);
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.updateBtn{
  background-color: transparent;
  color: #43f943;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.delBtn:active{
  font-size: 25px;
}
ul{
  margin: 0;
  padding: 0;
}
.list{
  width: 400px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  background-color: #0d6efd;
  border-radius: 10px;
}